/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif; /* Задаем шрифт для текста */
    background-color: #0d1117; /* Цвет фона страницы (черный) */
    color: #c9d1d9; /* Цвет текста */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем отступы по умолчанию */
}

/* Стили для заголовков */
h1, h2 {
    color: #58a6ff; /* Цвет заголовков */
}

/* Стили для навигационного меню */
nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем отступы */
}

nav ul li {
    display: inline; /* Располагаем элементы горизонтально */
    margin-right: 20px; /* Отступ между пунктами меню */
}

nav ul li a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #c9d1d9; /* Цвет ссылок */
}

nav ul li a:hover {
    color: #58a6ff; /* Цвет ссылок при наведении */
}

/* Стили для заголовка страницы */
header {
    padding: 20px; /* Отступы внутри заголовка */
    text-align: center; /* Выравнивание текста по центру */
}

header h1 {
    margin: 0; /* Убираем отступы внутри заголовка */
}

/* Стили для основного контента страницы */
main {
    padding: 20px; /* Отступы внутри основного контента */
}

/* Стили для разделов */
section {
    margin-bottom: 20px; /* Отступ между разделами */
}

/* Стили для футера */
footer {
    background-color: #0d1117; /* Цвет фона футера */
    padding: 20px; /* Отступы внутри футера */
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для копирайта */
footer p {
    margin: 0; /* Убираем отступы внутри копирайта */
}


/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif; /* Задаем шрифт для текста */
    background-image: url('spacex.jpg'); /* Устанавливаем изображение фона */
    background-size: cover; /* Масштабируем изображение фона по размеру окна */
    background-position: center; /* Выравниваем изображение фона по центру */
    color: #c9d1d9; /* Цвет текста */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем отступы по умолчанию */
}



/*разработки*/
.rocket-info {
    display: flex;
    margin-bottom: 20px;
}

.rocket-text {
    flex: 1;
}

.rocket-image {
    flex: 1;
}

.rocket-image img {
    width: 100%;
    height: auto;
}